*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --background: #222;
  --text-color: #ddd;
}

body{
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}

/* ------- Header ------- */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 4rem;
  border-bottom: 1px solid var(--text-color);
}

.header-name{
  display: flex;
  justify-content: center;
  width: calc(100%/3);
}

header ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: calc(100%/3);
  font-size: 20px;
}

header ul li{
  list-style:none;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  text-decoration: underline;
  transition: .5s;
}

.switch-mode-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100%/3);

}

.switch-mode-container i{
  font-size: 38px;
  cursor: pointer;
}

/* -------MAIN------- */

/* ---banner--- */

.main-banner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 100px);
}

.main-banner div{
  width: 100%;
  font-size: 100px;
}

.main-banner .frontend{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 100px;
  padding-right: 400px;
  gap: 2rem;
}

.main-banner .frontend i{
  color: #00D8FF;
}

.main-banner .developer{
  display: flex;
  justify-content: center;
  padding-left: 400px;
  gap: 2rem;
  line-height: 100px;
}

.main-banner .developer i{
  color: #F0DB4F;
}

/* ----acerca de---- */

.acercade{
  width: 100%;
  height: 33vh;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 4rem;
  text-align: justify;
  gap: 2rem;
}


/* ----proyectos---- */

.proyectos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  font-size: 24px;
  gap: 2rem;
  padding: 0 10rem;
}

.proyectos-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.grid-proyectos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: auto;
  height: 300px;
  gap: 40px;
}

.proyecto{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  cursor: pointer;
}

.proyecto p{
  opacity: 0;
  background-color: var(--background);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyecto p:hover{
  opacity: 100%;
  transition: .5s;
}


.calculadora, .instituto{
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.calculadora{
  background-image: url('./src/calculadora.jpeg');
}

.instituto{
  background-size: 90%;
  background-position: center;
  background-image: url('./src/instituto.png');
}

/* -----Contacto----- */

.contacto{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  font-size: 24px;
}

.contacto-banner{
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.contacto-banner a{
  font-size: 80px;
  line-height: 80px;
  text-decoration: none;
  cursor: pointer;
}

.contacto-banner a:hover{
  opacity: 80%;
}

/* ---Footer--- */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 80px;
  border-top: 1px solid var(--text-color);
}