*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #222;
  --text-color: #ddd;
}

body{
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
}

/* ------- Header ------- */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 4rem;
  border-bottom: 1px solid var(--text-color);
}

.header-name{
  display: flex;
  justify-content: center;
  width: calc(100%/3);
}

header ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: calc(100%/3);
  font-size: 20px;
}

header ul li{
  list-style:none;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  text-decoration: underline;
  transition: .5s;
}

.switch-mode-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100%/3);

}

.switch-mode-container i{
  font-size: 38px;
  cursor: pointer;
}

/* -------MAIN------- */

.main-banner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 100px);
}

.main-banner div{
  width: 100%;
  font-size: 100px;
}

.main-banner .frontend{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 100px;
  padding-right: 400px;
  gap: 2rem;
}

.main-banner .frontend i{
  color: #00D8FF;
}

.main-banner .developer{
  display: flex;
  justify-content: center;
  padding-left: 400px;
  gap: 2rem;
  line-height: 100px;
}

.main-banner .developer i{
  color: #F0DB4F;
}

/* ----acerca de---- */

.acercade{
  width: 100%;
  height: 50vh;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 4rem;
  text-align: justify;
  gap: 2rem;
}
