:root{
    --color1: #0c4532;
    --color2: #3a563f;
    --color3: #747961;
    --color4: #a39e8d;
    --color5: #bfb6a9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color1);
    color: var(--color5);
    font-family: sans-serif;
}

ul{
    list-style: none;
}

a:hover{
    text-decoration: underline;
}

a{
    color: var(--color5);
    text-decoration: none;
}

.header{
    width: 100%;
    background-color: var(--color1);
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid var(--color4);
}

.navbar__ul{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    width: 500px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
}

.main *{
    user-select: none;
}

.main .cronometro-span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 4px solid black;
    background-color: var(--color2);
    width: 500px;
    height: 160px;
    font-size: 120px;
}

.main .cronometro-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    width: 340px;
    margin: 4px auto;
}

.main .cronometro-btns button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 28px;
    width: auto;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    background-color: var(--color3);
}

.main .cronometro-btns button:hover{
    background-color: var(--color4);
}

.main .cronometro-btns button:active{
    background-color: var(--color5);
}

.main .cronometro-btns .btn-detener-cronometro{
    display: none;
}

.main .cronometro-btns .btn-reanudar-cronometro{
    display: none;
}

.main .btn-clean-laps{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 28px;
    width: auto;
    margin-top: 4px;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    background-color: var(--color3);
}

.main .btn-clean-laps:hover{
    background-color: var(--color4);
}

.main .btn-clean-laps:active{
    background-color: var(--color5);
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: var(--color1);
    border-top: 1px solid var(--color4);
}

.footer a{
    cursor: pointer;
    color: var(--color4);
}